{
  "two_captcha_api_key": "YOUR_2CAPTCHA_API_KEY",
  "gemini_api_key": "YOUR_GEMINI_API_KEY",
  "proxies": [
    "http://username:password@proxy_ip:proxy_port",
    "http://username:password@proxy_ip2:proxy_port2"
  ],
  "target_forums": [
    {
      "url": "https://example-forum.com",
      "type": "xenforo",
      "username": "user_test_seo",
      "password": "strong_password_123",
      "email": "email_test_seo@gmail.com"
    }
  ],
  "seo_keywords": [
    "thông tắc cống tại Quảng Ninh",
    "hút bể phốt Quảng Ninh giá rẻ",
    "thông tắc cống không đục phá",
    "thợ xử lý mùi hôi nhà vệ sinh"
  ],
  "hotlines": [
    "0963.953.533",
    "0931.156.756"
  ],
  "author_link": "Tác giả: [Nguyễn Song Hào](https://thongtaccongquangninh.com/author/nguyensonghao/)"
}
